In [1]:
import pandas as pd

In [2]:
def csv_to_pandas(file_path):
    df = pd.read_csv(file_path)
    return df

# The Datasets

In [3]:
csv_to_pandas('zarr_info.csv')

,source,variable,shape,lat resolution,lon resolution,chunk shape,chunk size mb,compression
0,s3://veda-data-store-staging/EIS/zarr/FWI-GEOS...,GEOS-5_FWI,"(26880, 533, 1152)",0.25,0.3125,"(120, 100, 100)",4.577637,"Blosc(cname='lz4', clevel=5, shuffle=SHUFFLE, ..."
1,s3://power-analysis-ready-datastore/power_901_...,TS,"(492, 361, 576)",0.50,0.6250,"(492, 25, 25)",2.346039,"Blosc(cname='lz4', clevel=5, shuffle=SHUFFLE, ..."
2,s3://cmip6-pds/CMIP6/CMIP/NASA-GISS/GISS-E2-1-...,tas,"(1980, 90, 144)",2.00,2.5000,"(600, 90, 144)",29.663086,"Blosc(cname='lz4', clevel=5, shuffle=SHUFFLE, ..."
3,https://ncsa.osn.xsede.org/Pangeo/pangeo-forge...,sst,"(15044, 720, 1440)",0.25,0.2500,"(1, 1, 720, 1440)",1.977539,Zlib(level=4)
4,s3://yuvipanda-test1/cmr/gpm3imergdl.zarr,precipitationCal,"(8149, 3600, 1800)",0.10,0.1000,"(10, 3600, 1800)",247.192383,"Blosc(cname='lz4', clevel=5, shuffle=SHUFFLE, ..."
5,s3://nasa-eodc-zarrs/ames_research_center_fwi_...,FWI,"(1812, 600, 1440)",0.25,0.2500,"(12, 600, 1440)",39.550781,NaN

# GOES FWI results

In [9]:
file_path = 'results/FWI-GEOS_stats.csv'
csv_to_pandas(file_path)

,Type,Name,Request Count,Failure Count,Median Response Time,Average Response Time,Min Response Time,Max Response Time,Average Content Size,Requests/s,...,66%,75%,80%,90%,95%,98%,99%,99.9%,99.99%,100%
0,GET,/tiles/2/1/2.png?variable=GEOS-5_FWI&rescale=0...,10,0,8900.0,9030.283986,8637.976883,9646.092031,12893.000000,0.171694,...,9200,9200,9200,9600,9600,9600,9600,9600,9600,9600
1,GET,/tiles/3/4/5.png?variable=GEOS-5_FWI&rescale=0...,10,0,8700.0,8769.498711,8421.048730,9423.692228,693.000000,0.171694,...,8700,8900,9000,9400,9400,9400,9400,9400,9400,9400
2,GET,/tiles/3/4/7.png?variable=GEOS-5_FWI&rescale=0...,10,10,8500.0,8665.006404,8352.576969,9324.356021,41.000000,0.171694,...,8800,8800,8800,9300,9300,9300,9300,9300,9300,9300
3,GET,/tiles/4/0/1.png?variable=GEOS-5_FWI&rescale=0...,7,7,8600.0,8678.220269,8428.516969,9257.883186,41.000000,0.120186,...,8700,8700,8700,9300,9300,9300,9300,9300,9300,9300
4,GET,/tiles/4/13/5.png?variable=GEOS-5_FWI&rescale=...,10,0,8600.0,8709.257127,8460.675451,9308.444671,693.000000,0.171694,...,8700,8700,9000,9300,9300,9300,9300,9300,9300,9300
5,GET,/tiles/4/3/1.png?variable=GEOS-5_FWI&rescale=0...,10,10,8500.0,8606.770743,8265.186616,9617.331814,41.000000,0.171694,...,8600,8600,8700,9600,9600,9600,9600,9600,9600,9600
6,NaN,Aggregated,57,27,8700.0,8746.591432,8265.186616,9646.092031,2524.508772,0.978655,...,8700,8800,9000,9300,9400,9600,9600,9600,9600,9600

# OISST Reference Results

In [10]:
file_path = 'results/noaa-oisst_stats.csv'
csv_to_pandas(file_path)

,Type,Name,Request Count,Failure Count,Median Response Time,Average Response Time,Min Response Time,Max Response Time,Average Content Size,Requests/s,...,66%,75%,80%,90%,95%,98%,99%,99.9%,99.99%,100%
0,GET,/tiles/2/1/3.png?reference=true&variable=sst&r...,10,0,7500.000000,7471.817425,7146.465428,7623.357390,693.000000,0.169844,...,7500,7500,7600,7600,7600,7600,7600,7600,7600,7600
1,GET,/tiles/3/0/3.png?reference=true&variable=sst&r...,10,0,5100.000000,5133.937685,4917.801505,5375.895595,11630.000000,0.169844,...,5200,5200,5200,5400,5400,5400,5400,5400,5400,5400
2,GET,/tiles/3/3/4.png?reference=true&variable=sst&r...,10,0,5200.000000,5238.420818,5086.189964,5406.790359,10839.000000,0.169844,...,5300,5300,5300,5400,5400,5400,5400,5400,5400,5400
3,GET,/tiles/4/10/11.png?reference=true&variable=sst...,10,0,5100.000000,5131.995197,5036.916517,5385.238558,1155.000000,0.169844,...,5100,5200,5200,5400,5400,5400,5400,5400,5400,5400
4,GET,/tiles/4/10/8.png?reference=true&variable=sst&...,10,0,5100.000000,5143.965202,4951.414351,5446.764798,4091.000000,0.169844,...,5200,5200,5200,5400,5400,5400,5400,5400,5400,5400
5,GET,/tiles/4/2/1.png?reference=true&variable=sst&r...,10,0,5100.000000,5065.307134,4923.980825,5265.851831,693.000000,0.169844,...,5100,5100,5100,5300,5300,5300,5300,5300,5300,5300
6,GET,/tiles/5/14/14.png?reference=true&variable=sst...,10,0,5100.000000,5078.300068,4991.815589,5224.402572,1841.000000,0.169844,...,5100,5100,5100,5200,5200,5200,5200,5200,5200,5200
7,GET,/tiles/5/14/26.png?reference=true&variable=sst...,10,0,5100.000000,5114.394842,5006.672451,5369.929734,693.000000,0.169844,...,5100,5200,5200,5400,5400,5400,5400,5400,5400,5400
8,GET,/tiles/5/24/22.png?reference=true&variable=sst...,6,0,5200.000000,5137.878032,4944.288188,5266.779077,774.000000,0.101906,...,5200,5200,5200,5300,5300,5300,5300,5300,5300,5300
9,GET,/tiles/5/3/20.png?reference=true&variable=sst&...,10,0,5000.000000,5073.392276,4938.653488,5263.237794,1508.000000,0.169844,...,5100,5100,5200,5300,5300,5300,5300,5300,5300,5300
10,GET,/tiles/5/31/29.png?reference=true&variable=sst...,2,0,5036.509543,5055.960843,5036.509543,5075.412144,693.000000,0.033969,...,5100,5100,5100,5100,5100,5100,5100,5100,5100,5100
11,NaN,Aggregated,98,0,5100.000000,5361.780575,4917.801505,7623.357390,3443.469388,1.664472,...,5200,5200,5300,7100,7500,7600,7600,7600,7600,7600

# CMIP6 Historical Results

In [11]:
file_path = 'results/cmip6_stats.csv'
csv_to_pandas(file_path)

,Type,Name,Request Count,Failure Count,Median Response Time,Average Response Time,Min Response Time,Max Response Time,Average Content Size,Requests/s,...,66%,75%,80%,90%,95%,98%,99%,99.9%,99.99%,100%
0,GET,"/tiles/10/0/66.png?variable=tas&rescale=200,30...",10,10,610.0,617.588783,596.197695,664.047553,102.000000,0.168762,...,620,630,630,660,660,660,660,660,660,660
1,GET,/tiles/10/120/326.png?variable=tas&rescale=200...,10,10,610.0,613.175678,594.956030,641.794416,102.000000,0.168762,...,620,630,630,640,640,640,640,640,640,640
2,GET,"/tiles/10/214/47.png?variable=tas&rescale=200,...",10,10,620.0,624.682214,585.610611,688.263712,102.000000,0.168762,...,620,630,680,690,690,690,690,690,690,690
3,GET,"/tiles/10/348/15.png?variable=tas&rescale=200,...",10,10,610.0,617.748432,596.372375,641.327046,102.000000,0.168762,...,620,630,640,640,640,640,640,640,640,640
4,GET,/tiles/10/412/750.png?variable=tas&rescale=200...,10,0,920.0,936.186772,893.459449,1012.340586,695.000000,0.168762,...,930,970,980,1000,1000,1000,1000,1000,1000,1000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,GET,"/tiles/9/494/34.png?variable=tas&rescale=200,3...",10,10,610.0,621.116455,590.877009,714.743758,102.000000,0.168762,...,620,620,630,710,710,710,710,710,710,710
77,GET,"/tiles/9/494/454.png?variable=tas&rescale=200,...",10,0,920.0,957.247359,896.278034,1121.594115,710.000000,0.168762,...,940,1000,1000,1100,1100,1100,1100,1100,1100,1100
78,GET,"/tiles/9/54/177.png?variable=tas&rescale=200,3...",10,10,620.0,654.161623,605.058114,771.118561,102.000000,0.168762,...,640,710,730,770,770,770,770,770,770,770
79,GET,"/tiles/9/57/40.png?variable=tas&rescale=200,30...",10,10,620.0,636.050125,595.660439,720.131009,102.000000,0.168762,...,630,660,690,720,720,720,720,720,720,720
80,NaN,Aggregated,724,454,650.0,752.632300,585.610611,1740.891713,352.566298,12.218384,...,900,920,920,970,1000,1100,1100,1700,1700,1700

# POWER Results

In [12]:
file_path = 'results/power_meteorology_stats.csv'
csv_to_pandas(file_path)

,Type,Name,Request Count,Failure Count,Median Response Time,Average Response Time,Min Response Time,Max Response Time,Average Content Size,Requests/s,...,66%,75%,80%,90%,95%,98%,99%,99.9%,99.99%,100%
0,GET,/tiles/10/1012/856.png?variable=TS&rescale=200...,10,0,580.0,596.392156,553.639757,644.651253,695.000000,0.168927,...,620,640,640,640,640,640,640,640,640,640
1,GET,"/tiles/10/117/770.png?variable=TS&rescale=200,...",10,10,490.0,504.878663,464.870101,584.454318,101.000000,0.168927,...,500,530,540,580,580,580,580,580,580,580
2,GET,"/tiles/10/196/845.png?variable=TS&rescale=200,...",10,0,580.0,594.631835,542.613628,705.344492,707.000000,0.168927,...,600,630,640,710,710,710,710,710,710,710
3,GET,"/tiles/10/3/1001.png?variable=TS&rescale=200,3...",10,10,490.0,494.281107,465.546213,533.221204,101.000000,0.168927,...,490,510,510,530,530,530,530,530,530,530
4,GET,"/tiles/10/304/429.png?variable=TS&rescale=200,...",10,0,620.0,616.270020,549.217784,707.839229,701.000000,0.168927,...,620,630,660,710,710,710,710,710,710,710
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,GET,"/tiles/9/325/50.png?variable=TS&rescale=200,30...",10,10,480.0,498.955935,459.702722,594.854859,101.000000,0.168927,...,480,520,570,590,590,590,590,590,590,590
96,GET,"/tiles/9/410/317.png?variable=TS&rescale=200,3...",10,0,570.0,603.910516,546.590790,736.972186,707.000000,0.168927,...,610,640,680,740,740,740,740,740,740,740
97,GET,"/tiles/9/67/1.png?variable=TS&rescale=200,300&...",10,10,470.0,487.389626,453.507587,568.807821,101.000000,0.168927,...,490,490,530,570,570,570,570,570,570,570
98,GET,"/tiles/9/96/252.png?variable=TS&rescale=200,30...",10,0,580.0,576.665982,542.660136,603.709730,700.000000,0.168927,...,590,600,600,600,600,600,600,600,600,600
99,NaN,Aggregated,964,474,550.0,563.616058,442.521440,1581.950859,564.827801,16.284605,...,580,600,620,660,720,810,960,1600,1600,1600